<ul>
    <li>
        <a href="{{ path('homepage') }}" id="home-link" class="skel-layers-ignoreHref">
            <span class="icon fa-home">Accueil | Adhesion </span>
        </a></li>
    <hr/>
    <li>
        <a href="{{ path('homeadhesion') }}" id="adhesion-home-link" class="skel-layers-ignoreHref">
            <span class="icon fa-th">Tous les membres</span>
        </a>
    </li>
    <li>
        <a href="{{ path('newadhesion') }}" id="adhesion-new-link" class="skel-layers-ignoreHref">
            <span class="icon fa-plus">Inscription</span>
        </a>
    </li>
    <li>
        <a href="{{ path('uploadmembre') }}" id="adhesion-new-import-link" class="skel-layers-ignoreHref">
            <span class="icon fa-file-excel-o">Importé des données</span>
        </a>
    </li>
    <hr/>
    <li>
        <a href="{{ path('addpresence') }}" id="add-presence-link" class="skel-layers-ignoreHref">
            <span class="icon fa-plus-square-o">Ajouter présence</span>
        </a>
    </li>
    <li>
        <a href="{{ path('yearpresencebc') }}" id="note-bc-link" class="skel-layers-ignoreHref">
            <span class="icon fa-sticky-note-o">Présence Bureau/Commite</span>
        </a>
    </li>
    <li>
        <a href="{{ path('yearpresence') }}" id="note-link" class="skel-layers-ignoreHref">
            <span class="icon fa-sticky-note-o">Présence de membres</span>
        </a>
    </li>
    <li>
        <a href="{{ path('deletepresence') }}" id="delete-note-link" class="skel-layers-ignoreHref">
            <span class="icon fa-remove">Supprimer présence (par année)</span>
        </a>
    </li>
</ul>